
@{
    ViewData["Title"] = "书籍主页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row justify-content-md-center">
    <div class="col-lg-11 ">
        <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#addBookModal" style="margin-bottom:10px;">添加书籍</button>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col-lg-11 ">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>书名</th>
                    <th>作者</th>
                    <th>文件大小</th>
                    <th>下载次数</th>
                    <th>上传</th>
                    <th>上传时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="bookTable">
            </tbody>
        </table>
    </div>
</div>

@* 添加书籍 *@
<div class="modal fade" id="addBookModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">添加新书籍</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">书名:</label>
                    <input type="text" class="form-control" id="book-title" name="bookTitle">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">作者:</label>
                    <input type="text" class="form-control" id="book-author" name="bookAuthor">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">类型:</label>
                    <select class="form-control" id="book-type" name="bookType">
                        <option value="-1">请选择</option>
                        @foreach (var item in ViewBag.BookType)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">书籍:</label>
                    <input type="file" class="form-control" id="book-file" name="bookFile" accept=".pdf" />
                </div>
                <div class="alert alert-danger" role="alert" id="errorTip" style="display:none;">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="AddBook()">确定</button>
            </div>
        </div>
    </div>
</div>

@* 书籍上传 *@
<div class="modal fade" id="uploadBookModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">上传书籍（PDF）</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="file" id="testfile" name="test" multiple />
                </div>
            </div>
        </div>
    </div>
</div>

@*删除书籍*@
<div class="modal fade" id="deleteBookModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">删除码:</label>
                        <input type="text" class="form-control" id="book-deleteCode" name="deleteCode">
                    </div>
                    <div class="alert alert-danger" role="alert" id="deleterErrorTip" style="display:none;">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="CheckDeleteBook()">确定</button>
            </div>
        </div>
    </div>
</div>


@*静态背景模态*@
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="loader">
            <span class="text">Loading</span>
            <span class="spinner"></span>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        var bId = 0;
        $(function () {
            GetBookList(@ViewBag.BookTypeValue);
            $('#addBookModal').on('show.bs.modal', function (event) {
                var modal = $(this);
                modal.find('.modal-body input').val("");
                modal.find('.modal-body textarea').val("");
            });
            $("#testfile").on("fileuploaded", function (event, data, previewId, index) {
                alert("上传成功");
                $('#testfile').fileinput('clear');
                $("#uploadBookModal").modal("hide");
                GetBookList(@ViewBag.BookTypeValue);
            });
        });

        function GetBookList(bType) {
            $.getJSON("BookLists?bType=" + bType, function (result) {
                $("#bookTable").html("");
                result.forEach(function (item, index) {
                    var uploadStr = '<button type="button" class="btn btn-default" onclick="ShowUploadModal(' + item.id + ')">' +
                        '<svg class="bi bi-cloud-download" width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">' +
                        '<path d="M4.887 6.2l-.964-.165A2.5 2.5 0 1 0 3.5 11H6v1H3.5a3.5 3.5 0 1 1 .59-6.95 5.002 5.002 0 1 1 9.804 1.98A2.501 2.501 0 0 1 13.5 12H10v-1h3.5a1.5 1.5 0 0 0 .237-2.981L12.7 7.854l.216-1.028a4 4 0 1 0-7.843-1.587l-.185.96z" />'+
                        '<path fill-rule="evenodd" d="M5 8.854a.5.5 0 0 0 .707 0L8 6.56l2.293 2.293A.5.5 0 1 0 11 8.146L8.354 5.5a.5.5 0 0 0-.708 0L5 8.146a.5.5 0 0 0 0 .708z" clip-rule="evenodd" />'+
                        '<path fill-rule="evenodd" d="M8 6a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0v-8A.5.5 0 0 1 8 6z" clip-rule="evenodd" />' +
                        '</svg>' +
                        '</button>';
                    $("#bookTable").append(
                        '<tr>' +
                        '<th scope="row">' + (index + 1) + '</th>' +
                        '<td>' + item.title + '</td>' +
                        '<td>' + item.auther + '</td>' +
                        '<td>' + (item.fileSize / 1024 / 1024).toFixed(2) + 'M</td>' +
                        '<td>' + item.downloadNum + '</td>' +
                        '<td>' + uploadStr+ '</td>' +
                        '<td>' + item.createTime + '</td>' +
                        '<td>' +
                        (item.url == null ? '' : '<button type="button" class="btn btn-primary" onclick="Download(' + item.id + ')">下载</button>&nbsp&nbsp' ) +
                        (item.url == null ? '' :  '<button type="button" class="btn btn-info" onclick="ReadBook(' + item.id + ')">在线阅读</button>&nbsp&nbsp') +
                        '<button type="button" class="btn btn-danger" onclick="DeleteBook(' + item.id + ')">删除</button>&nbsp&nbsp' +
                        '</td>' +
                        '</tr>');
                });

            });
        }

        function AddBook() {
            var bookType = $("#book-type").val();
            var bookTitle = $("#book-title").val();
            var bookAuther = $("#book-author").val();


            if (bookTitle == "" && bookAuther == "") {
                $("#errorTip").html("请添加书籍名称和作者名称！");
                $("#errorTip").css("display", "block");
                return;
            }

            if (bookType == -1) {
                $("#errorTip").html("请选择书籍类型！");
                $("#errorTip").css("display", "block");
                return;
            }

            var formdata = new FormData();

            formdata.append("Title", bookTitle);
            formdata.append("Auther", bookAuther );
            formdata.append("BookType", bookType);
            formdata.append("file", $("#book-file")[0].files[0]);


            $("#staticBackdrop").modal("show");
            $('#addBookModal').modal('hide');
            $.ajax({
                type: "POST",
                url: "Create",
                data: formdata,
                processData: false,
                dataType: "json",
                contentType: false,
                success: function (result) {
                    $("#staticBackdrop").modal("hide");                    
                    if (result.isSuccess) {
                        alert(result.message);
                        GetBookList(@ViewBag.BookTypeValue);
                        $('#addBookModal').modal('hide');
                    } else {
                        $("#addBookModal").modal("show");
                        $("#errorTip").html(result.message);
                        $("#errorTip").css("display", "block");
                    }
                }
            });


        }

        function Download(id) {
            window.open("Download?bookId=" + id);
            GetBookList(@ViewBag.BookTypeValue);
        }

        function ShowUploadModal(id) {
            $('#testfile').fileinput({
                language: 'zh',
                uploadUrl: "Upload?bookId=" + id,
                showCaption: true,
                showUpload: true,
                showRemove: true,
                showPreview: false,
                showClose: true,
                maxFileCount: 1,
                autoReplace: true,
                allowedFileExtensions: ['pdf'],
                browseClass: 'btn btn-primary'
            });
            $('#testfile').fileinput('refresh', { uploadUrl: "Upload?bookId=" + id });

            $("#uploadBookModal").modal('show')

        }

        function DeleteBook(id) {
            $("#deleteBookModal").modal("show");
            $("#deleterErrorTip").html("");
            $("#deleterErrorTip").css("display", "none");
            bId = id;
        }

        function CheckDeleteBook() {
            var deleteCode = $("#book-deleteCode").val();
            if (deleteCode == null || deleteCode == '') {
                $("#deleterErrorTip").html("请填写删除码！");
                $("#deleterErrorTip").css("display", "block");
                return;
            }
           $.post("Delete",
                    {
                        bookId: bId,
                        dCode: $("#book-deleteCode").val()
                    },
                    function (result) {
                        alert(result.message);
                        if (result.isSuccess) {
                            GetBookList(@ViewBag.BookTypeValue);
                        }
               });
            $("#book-deleteCode").val('');
            $("#deleteBookModal").modal("hide");
        }

        function ReadBook(id) {
            $.getJSON("BookFilePath?bookId=" + id, function (data) {
                if (data.isSuccess) {
                    window.open(data.message);
                } else {
                    alert(data.message);
                    return;
                }
            });
        }
    </script>
}

